/** Start header **/
.header{
    width: 1349px;
    height: 80px;
    background: #3b5998;
    margin-top: -8px;
    margin-left: -8px;
}
.Login{
    float: right;
    margin-right: -225px;
    margin-top: 31px;
}
.Wusername{
    height: 27px;
    margin-right: 5px;
    font-size: 15px;
    font-family: janna lt;
}
.Wpassword{
    height: 27px;
    margin-right: 5px;
    font-size: 15px;
    font-family: janna lt;
}
.email{
    color: #fff;
    font-size: 14px;
    margin-right: 7px;
    margin-top: -23px;
    float: left;
    display: block;
    font-family: cursive;
}
.password{
    color: #fff;
    font-size: 14px;
    margin-top: -23px;
    float: left;
    display: block;
    margin-left: 187px;
    font-family: cursive;
}
.Button-1{
    height: 32px;
    margin-right: 5px;
    background: #2a4a8e;
    border: 2px solid #244282;
    color: #fff;
    width: 58px;
    border-radius: 4px;
}
.Logo{
    display: inline;
    margin-top: -2px;
    font-size: 58px;
    color: #fff;
    margin-left: 39px;
    float: left;
    font-family: cursive;
}
/** End header **/

/** Start Body **/

.body{
    width: 1349px;
    height: 700px;
    background: #f1f1f1;
    margin-left: -8px;
}
.Registrate{
    float: right;
    height: auto;
    width:50%;
}
h1{
    float: right;
    margin-right: 164px;
    font-size: 40px;
    margin-top: 14px;
    font-family: sans-serif;
}
h2{
    float: left;
    margin-top: -16px;
    margin-left: 178px;
    font-family: sans-serif;
    font-weight: 300;
}
.Reg{
    display: block;
    float: left;
    margin-left: 179px;
}
.Firstname{
    height: 25px;
    width: 195px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    margin-right: 6px;
    font-size: 20px;
    font-family: janna lt;
    font-weight: bold;
    padding: 8px;
}

.Email{
    height: 25px;
    width: 417px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    margin-right: 6px;
    font-size: 20px;
    font-family: janna lt;
    font-weight: bold;
    padding: 8px;
    margin-top: 4px;
}
.Password{
    height: 25px;
    width: 417px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    margin-right: 6px;
    font-size: 20px;
    font-family: janna lt;
    font-weight: bold;
    padding: 8px;
    margin-top: 4px;
}
.Birthday{
    font-size: 20px;
    font-family: Janna lt;
    margin-top: 9px;
}
select{
    margin-top: -15px;
    float: left;
    width: 68px;
    height: 30px;
    margin-right: 6px;
    background: #ddd;
    font-family: cursive;
    font-weight: 700;
}
option{
background:#fff;
}
.Why{
    float: right;
    font-family: cursive;
    font-size: 12px;
    margin-right: 88px;
    margin-top: -15px;
}
span{
    font-family: cursive;
    margin-right: 6px;
}
.Gender{
    font-size: 20px;
    font-family: Janna lt;
    margin-bottom: 0px;
    margin-top: -9px;
}
.Terms{
    display: inline;
    margin-top: 9px;
    font-size: 13px;
    color: #000;
    margin-left: 5px;
    float: left;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: #3b5998;
    font-weight: 700;
}
.Signup{
    background: #588b44;
    padding: 5px;
    width: 304px;
    color: #fff;
    font-size: 25px;
    border-radius: 4px;
    border: 2px solid #365828;
    font-family: cursive;
    height: 55px;
}
.creatpage{
    display: inline;
    margin-top: 9px;
    font-size: 13px;
    color: #000;
    margin-left: 5px;
    float: left;
    font-family: cursive;
}
.Aboutface{
        width: 40%;
    height: 600px;
}
.Aboutface .About{
    display: inline;
    float: left;
    font-size: 26px;
    margin-top: -27px;
    margin-left: 20px;
    font-family: janna lt;
    color: #07338e;
    line-height: 31px;
}
/** End Body **/